<section id="dashboard-home">
  <div class="flex justify-end my-4">
    <button class="call-to-action-outlined" (click)="addFood()">Add new food</button>
  </div>

  <!-- Items Table  -->
  <div class="flex flex-col font-sans" *ngIf="foodItems && foodItems.length > 0">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div class="overflow-hidden">
          <table class="min-w-full leading-[189%] border-separate border-spacing-y-2 px-1">
            <thead class="bg-transparent text-black ">
              <tr class="h-2 font-sans text-lg">
                <th scope="col" class="px-6 py-3 text-left font-medium">Name</th>
                <th scope="col" class="px-6 py-3 text-left font-medium hidden lg:table-cell">Item ID</th>
                <th scope="col" class="px-6 py-3 text-left font-medium hidden md:table-cell">Price</th>
                <th scope="col" class="px-6 py-3 text-left font-medium hidden md:table-cell">Request Status</th>
                <th scope="col" class="px-6 py-3 text-left font-medium"></th>
              </tr>
            </thead>
            <tbody class="bg-transparent text-grey">
              <ng-container *ngFor="let food of foodItems">
                <tr class="h-16 cursor-pointer shadow-cardBoxShadow rounded-[16px] text-base">
                  <td class="px-6 py-4 rounded-tl-[16px] rounded-bl-[16px] flex items-center gap-3">
                    <img [ngSrc]="food.imgUrl"  class="w-10 h-10 rounded-full" width="50" height="50">
                    <span>{{ food.name | titlecase}}</span>
                  </td>
                  <td class="px-6 py-4 hidden lg:table-cell">{{ food.id }}</td>
                  <td class="px-6 py-4 hidden md:table-cell">{{food.price | currency}}</td>
                  <td class="px-6 py-4 hidden md:table-cell">
                    <span class="text-xs font-medium me-2 px-2.5 py-1 rounded-[10px]">
                      {{ food.name }}
                    </span>
                  </td>
  
                  <!-- <td class="px-6 rounded-tr-[16px] rounded-br-[16px] ">
                                <div>
                                  @if (user.role === 'ADMIN' && application.status === 'REQUESTED' && application.application.status === 'IN_PROGRESS')  {
                                    <button mat-icon-button [matMenuTriggerData]="{applicationId: application._id}"
                                            [matMenuTriggerFor]="activeLoan">
                                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:ellipsis-horizontal'">
                                      </mat-icon>
                                    </button>
                                    <mat-menu #activeLoan="matMenu">
                                      <ng-template matMenuContent let-applicationId="applicationId">
                                        <button mat-menu-item (click)="generateGuaranteeLetter(applicationId)">
                                          Generate Guarantee Letter
                                        </button>
                                      </ng-template>
                                    </mat-menu>
                                  }
              
                                  @if (application.status === 'UNSIGNED') {
                                    <button mat-icon-button [matMenuTriggerData]="{applicationId: application}"
                                            [matMenuTriggerFor]="activeLoan">
                                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:ellipsis-horizontal'">
                                      </mat-icon>
                                    </button>
                                    <mat-menu #activeLoan="matMenu">
                                      <ng-template matMenuContent let-applicationId="applicationId">
                                        <button mat-menu-item (click)="signGuaranteeLetter(applicationId._id)">
                                        Sign Guarantee Letter
                                        </button>
                                      </ng-template>
                                    </mat-menu>
                                  }
              
                                  @if (application.status === 'SIGNED') {
                                    <button mat-icon-button [matMenuTriggerData]="{applicationId: application.signNowDocumentId}"
                                            [matMenuTriggerFor]="activeLoan">
                                      <mat-icon class="icon-size-5" [svgIcon]="'heroicons_mini:ellipsis-horizontal'">
                                      </mat-icon>
                                    </button>
                                    <mat-menu #activeLoan="matMenu">
                                      <ng-template matMenuContent let-applicationId="applicationId">
                                        <button mat-menu-item (click)="downloadGuaranteeLetter(applicationId)">
                                          Download Guarantee Letter
                                        </button>
                                      </ng-template>
                                    </mat-menu>
                                  }
                                </div>
                              </td> -->
                </tr>
              </ng-container>
  
  
            </tbody>
          </table>
  
        </div>
      </div>
    </div>
  </div>
</section>