<header class="container mx-auto border border-b-text-hover flex justify-between pt-5 pb-2 font-serif text-base">
    <div class="">
        <a routerLink="/">FOOD MINE!</a>
    </div>

    <nav>
        <ul class="flex items-center gap-5">
            <li *ngIf="!isAuth">
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/dashboard">Dashboard</a>
            </li>
            <li class="menu-container flex gap-5 relative group:" *ngIf="isAuth">
                <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <a routerLink="/profile">{{user.name}}</a>
                </button>
                <mat-menu #menu="matMenu">
                    <button  class="w-full">
                        Profile
                    </button>
                    <button (click)="logout()" class="w-full">
                        Logout
                    </button>
                </mat-menu>
            </li>
            <li class="relative">
                <a routerLink="/cart-page">Cart
                    <span *ngIf="totalCount"
                        class="bg-text-hover text-white text-xs ml-3 w-4 h-4 p-1 rounded-full flex items-center justify-center absolute -right-[1.2rem] -top-1">{{totalCount}}</span>

                </a>
            </li>
        </ul>
    </nav>
</header>