<header class="container mx-auto border border-b-text-hover flex justify-between pt-5 pb-2 font-serif text-base">
    <div class="">
        <a routerLink="/">FOOD MINE!</a>
    </div>

    <nav>
        <ul class="flex gap-5">
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li class="menu-container flex gap-5 relative group:">
                <button  [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <a routerLink="/profile">John</a>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button mat-menu-item disabled>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu>
            </li>
            <li>
                <a routerLink="/cart">Cart<span class="bg-text-hover text-white ml-3 w-5 h-5 rounded-full">3</span></a>
            </li>
        </ul>
    </nav>
</header>